<div class="rounded">
  <div class="row d-flex justify-content-center">
    <div class="col-10">

      <div class="card bg-secondary bg-gradient text-white">
        <div class="card-body">
          <div class="container d-flex flex-row mt-2  align-items-center justify-content-center">
            <h3 class="container col">Chat Room</h3>
            <div class="row">              
              <div class="col image mr-3 d-flex flex-column mx-3">
                <img
                  id="userAvatar"
                  src="{{userInfo.avatarUrl}}"
                  class="rounded-circle"
                  width="60"
                  height="60"
                />
                <p id="userAge" class="text-center">
                  {{#if userInfo.age}}
                    {{userInfo.age}}
                    años
                  {{/if}}
                </p>
              </div>
              <div class="col">
                <div class="row">
              <div class="col d-flex flex-column mx-3">
                <span id="firstName">{{userInfo.first_name}} {{userInfo.last_name}}</span>
                <span id="lastName"></span>
                <p id="emailChat">{{userInfo.email}}</p>
              </div>
              </div>
              <div class="col mx-3">
                <a class="btn btn-dark btn-sm" href="/perfil">Ver Perfil</a>
              </div>
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="card glass" id="chat4">
        <div
          class="card-body overflow-auto position-relative"
          style="height: 600px"
        >
          <div
            id="messagesContainer"
            class="d-flex flex-column justify-content-start"
          >
            {{#each allMessages}}
              <div>
                <span class="badge bg-dark">{{this.author.firstName}}</span>
                <div>
                  <p
                    class="small p-2 ms-3 mb-1 rounded-3"
                    style="background-color: #f5f6f7;"
                  >{{this.body}}</p>
                  <p
                    class="small me-3 mb-3 rounded-3 d-flex justify-content-end"
                  >{{this.date}}</p>
                </div>
              </div>
            {{/each}}

          </div>

        </div>
        <div
          class="card-footer text-muted d-flex justify-content-start align-items-center p-3"
        >
          <input
            type="text"
            class="form-control"
            id="messageChat"
            placeholder="Escribe tu mensaje"
          />
          <button
            type="button"
            id="buttonSendMessage"
            class="ms-3 btn btn-primary"
          >➽</button>
        </div>
      </div>

    </div>
  </div>
</div>
<br>
