<div id="productList" class="row row-cols-1 row-cols-md-3 row-cols-lg-4 g-4">
  {{#each listaDeProductos}}
    <div class="container col">
      <div class="card h-100 glass border">
        <img
          src="{{this.imageURL}}"
          height="200px"
          class="card-img-top border"
          alt="{{this.description}}"
        />
        <div class="card-body border">
          <p class="mb-0">
            <span class="badge bg-secondary mb-0">{{this.category}} </span>
          </p>
          <h6 class="card-title mt-1">{{this.name}}</h5>
          <div class="row justify-content-between">
            <div class="col">
              <p class="mb-0">
                Precio
              </p>
              <span class="mb-0"><strong>${{this.price}}</strong> </span>
            </div>
          </div>
        </div>
        <div class="card-footer border text-center">
          <button class="btn btn-success mt-1">
            <a href="/login" class="text-decoration-none text-white mt-4">
            Quiero !
            </a>
          </button>
        </div>
      </div>
    </div>
  {{else}}
    <div class="mt-4 container text-center">
      <h2>No se encontraron productos</h2>
    </div>

  {{/each}}
</div>