<div id="productList" class="row row-cols-1" >
        {{#if listaDeProductos}}
          <div class="col ">
            <div class="card h-100 glass" >
              <div class="row justify-content-between g-0 ">
                <div class="col-md-3">
                  <img
                    src="{{listaDeProductos.imageURL}}"
                    class="card-img-top"
                    alt="imageURL"
                    id='imageURL' value="{{listaDeProductos.imageURL}}"
                  />
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                        <p class="mb-0">
                          <span class="badge bg-secondary" id='category' value="{{listaDeProductos.category}}">{{listaDeProductos.category}} </span>
                        </p>
                    <h5 class="card-title mt-2" id='name' value="{{listaDeProductos.name}}">{{listaDeProductos.name}}</h5>
                        <p class="card-text" id='description' value="{{listaDeProductos.description}}">{{listaDeProductos.description}}</p>
                    <div class="row justify-content-between">
                      <div class="col">
                        <p class="mb-1">
                          Precio
                        </p>
                        <span class="mb-2" id='price' value="{{listaDeProductos.price}}"><strong>${{listaDeProductos.price}}</strong> </span>
                      </div>
                      <div class="col">
                        <p class="mb-0">
                          Stock
                        </p>
                        <span class="mb-2" id='stock' value="{{listaDeProductos.stock}}"><strong id="stock" value="{{listaDeProductos.stock}}">{{listaDeProductos.stock}}</strong> </span>
                      </div>
                      <div class="col">  

       <div >          
           <table >
               <tbody>
                   <tr class="btn-group" Role="group">
                      <td align="left"><button class="btn btn-outline-secondary" id="addQty" style="width: 2vw;"><strong>-</strong></button></td>
                      <td align="center"><input class="btn btn-outline" style='width:5rem' id="quantityItem" value='1'/></td>
                      <td align="right"><button class="btn btn-outline-secondary" id="removeQty" style="width: 2vw;"><strong>+</strong></button></td>                       
                   </tr> 
                   <br/>
                   <br/>                  
                   <tr>                   
                      <td align="right" colSpan="5">
                      <br/>
                      <button class="btn btn-primary" productId="{{listaDeProductos._id}}">
                      Agregar al carrito
                      </button>
                      </td>
                   </tr>
               </tbody>
           </table>       
       </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
<div id='cod' value="{{listaDeProductos.cod}}"></div>
<div id='timestamps' value="{{listaDeProductos.timestamps}}"></div>
        {{else}}
          <div class="container text-center glass">
            <h2>No se encontró ese producto</h2>
          </div>          
        {{/if}}